<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>PersonalHealthManagement</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>healthsupporter.jsp</welcome-file>
    <welcome-file>patientmain.jsp</welcome-file>
    <welcome-file>doctor.jsp</welcome-file>
    <welcome-file>register.jsp</welcome-file>
    <welcome-file>registerHS.jsp</welcome-file>
    <welcome-file>registerPatient.jsp</welcome-file>
    <welcome-file>registerDoctor.jsp</welcome-file>
    <welcome-file>alertsPatients.jsp</welcome-file>
    <welcome-file>enterOBS.jsp</welcome-file>
    <welcome-file>viewOBS.jsp</welcome-file>
    <welcome-file>manageHS.jsp</welcome-file>
    <welcome-file>clearAlertsHS.jsp</welcome-file>
    <welcome-file>manageHSForPatients.jsp</welcome-file>
    <welcome-file>deleteAlertsByHS.jsp</welcome-file>
    <welcome-file>norecords.jsp</welcome-file>
    <welcome-file>displayOSObs.jsp</welcome-file>
    <welcome-file>displayMoodObs.jsp</welcome-file>
    <welcome-file>displayBPObs.jsp</welcome-file>
    <welcome-file>displayTempObs.jsp</welcome-file>
    <welcome-file>displayWeightObs.jsp</welcome-file>
    <welcome-file>displayPainObs.jsp</welcome-file>
    <welcome-file>viewPatientInfoForHS.jsp</welcome-file>
    <welcome-file>updatePatientInfoHimself.jsp</welcome-file>
    <welcome-file>updateHSInfo.jsp</welcome-file>
    <welcome-file>hsToPatient.jsp</welcome-file>
    <welcome-file>hsToSickPatient.jsp</welcome-file>
    <welcome-file>healthSuppMain.jsp</welcome-file>
    <welcome-file>editPatientReco.jsp</welcome-file>
    <welcome-file>qa.jsp</welcome-file>
    <welcome-file>qb.jsp</welcome-file>
    <welcome-file>qc.jsp</welcome-file>
    <welcome-file>qd.jsp</welcome-file>
    <welcome-file>qe.jsp</welcome-file>
    <welcome-file>runQueries.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Continue</display-name>
    <servlet-name>Continue</servlet-name>
    <servlet-class>Continue</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Continue</servlet-name>
    <url-pattern>/Continue</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterHS</display-name>
    <servlet-name>RegisterHS</servlet-name>
    <servlet-class>controller.RegisterHS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterHS</servlet-name>
    <url-pattern>/RegisterHS</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterPatientServlet</display-name>
    <servlet-name>RegisterPatientServlet</servlet-name>
    <servlet-class>controller.RegisterPatientServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterPatientServlet</servlet-name>
    <url-pattern>/RegisterPatientServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterDoctorServlet</display-name>
    <servlet-name>RegisterDoctorServlet</servlet-name>
    <servlet-class>controller.RegisterDoctorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterDoctorServlet</servlet-name>
    <url-pattern>/RegisterDoctorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddPatientsHSServlet</display-name>
    <servlet-name>AddPatientsHSServlet</servlet-name>
    <servlet-class>AddPatientsHSServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPatientsHSServlet</servlet-name>
    <url-pattern>/AddPatientsHSServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClearAlertsHSServlet</display-name>
    <servlet-name>ClearAlertsHSServlet</servlet-name>
    <servlet-class>ClearAlertsHSServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClearAlertsHSServlet</servlet-name>
    <url-pattern>/ClearAlertsHSServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageHealthSupportersPatientServlet</display-name>
    <servlet-name>ManageHealthSupportersPatientServlet</servlet-name>
    <servlet-class>ManageHealthSupportersPatientServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageHealthSupportersPatientServlet</servlet-name>
    <url-pattern>/ManageHealthSupportersPatientServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClearAlertsPatientSpecificByHSServlet</display-name>
    <servlet-name>ClearAlertsPatientSpecificByHSServlet</servlet-name>
    <servlet-class>ClearAlertsPatientSpecificByHSServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClearAlertsPatientSpecificByHSServlet</servlet-name>
    <url-pattern>/ClearAlertsPatientSpecificByHSServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClearAlertsByPatientsServlet</display-name>
    <servlet-name>ClearAlertsByPatientsServlet</servlet-name>
    <servlet-class>ClearAlertsByPatientsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClearAlertsByPatientsServlet</servlet-name>
    <url-pattern>/ClearAlertsByPatientsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EnterObsByPatientsServlet</display-name>
    <servlet-name>EnterObsByPatientsServlet</servlet-name>
    <servlet-class>EnterObsByPatientsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EnterObsByPatientsServlet</servlet-name>
    <url-pattern>/EnterObsByPatientsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckOBSServlet</display-name>
    <servlet-name>CheckOBSServlet</servlet-name>
    <servlet-class>CheckOBSServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckOBSServlet</servlet-name>
    <url-pattern>/CheckOBSServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePatientInfoServlet</display-name>
    <servlet-name>UpdatePatientInfoServlet</servlet-name>
    <servlet-class>UpdatePatientInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePatientInfoServlet</servlet-name>
    <url-pattern>/UpdatePatientInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateDiseaseInfoServlet</display-name>
    <servlet-name>UpdateDiseaseInfoServlet</servlet-name>
    <servlet-class>UpdateDiseaseInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateDiseaseInfoServlet</servlet-name>
    <url-pattern>/UpdateDiseaseInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateHSINfoServlet</display-name>
    <servlet-name>UpdateHSINfoServlet</servlet-name>
    <servlet-class>UpdateHSINfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateHSINfoServlet</servlet-name>
    <url-pattern>/UpdateHSINfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HStoPatientServlet</display-name>
    <servlet-name>HStoPatientServlet</servlet-name>
    <servlet-class>HStoPatientServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HStoPatientServlet</servlet-name>
    <url-pattern>/HStoPatientServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HSToPatientPrev</display-name>
    <servlet-name>HSToPatientPrev</servlet-name>
    <servlet-class>HSToPatientPrev</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HSToPatientPrev</servlet-name>
    <url-pattern>/HSToPatientPrev</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HsToSickPatient</display-name>
    <servlet-name>HsToSickPatient</servlet-name>
    <servlet-class>HsToSickPatient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HsToSickPatient</servlet-name>
    <url-pattern>/HsToSickPatient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditPatientRecoServlet</display-name>
    <servlet-name>EditPatientRecoServlet</servlet-name>
    <servlet-class>EditPatientRecoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditPatientRecoServlet</servlet-name>
    <url-pattern>/EditPatientRecoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryServlet</display-name>
    <servlet-name>QueryServlet</servlet-name>
    <servlet-class>controller.QueryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryServlet</servlet-name>
    <url-pattern>/QueryServlet</url-pattern>
  </servlet-mapping>
</web-app>